*.log
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
.phpunit.result.cache
/.phpunit.cache
/.fleet
/.idea
/.vscode
/.zed
/vendor
/node_modules
/public/build
/public/hot
storage/*.key
/storage/app/public
/public/storage
/storage/pail
bootstrap/cache/*.php
/auth.json
Homestead.json
Homestead.yaml